flask==1.0.2
flask-wtf==0.14.3
WTForms==2.3.3
Flask-CKEditor==0.4.0
werkzeug==1.0.1
flask-dropzone==1.5.4
flask-mail==0.9.1
email-validator==1.1.1
SQLAlchemy==1.2.8
Flask-SQLAlchemy==2.3.2
Alembic==0.9.9
Flask-Migrate==2.1.1
Flask-Mail==0.9.1
SendGrid-Python==0.1.1
python-dotenv==0.14.0
Bootstrap-Flask==1.1.0
Flask-Moment==0.6.0
Faker==0.8.13
Flask-DebugToolbar==0.10.1
Flask-Login==0.4.1
Unidecode==1.0.22
# Pillow==5.1.0
# Flask-Avatars==0.2
# Whoosh==2.7.4
# Flask-Whooshee==0.6.0
Flask-Babel==0.11.2
Babel==2.5.3
pytz==2018.4
Flask-CORS==3.0.4
Webargs==3.0.0
Httpie==0.9.9
Python-SocketIO==1.9.0
Flask-SocketIO==3.0.0
OAuthlib
Flask-OAuthlib==0.9.5
Markdown==2.6.11
Bleach==2.1.3
Pygments==2.2.0
