flask==1.0.2
flask-wtf==0.14.3
WTForms==2.3.3
Flask-CKEditor==0.4.0
werkzeug==1.0.1
flask-dropzone==1.5.4
flask-mail==0.9.1
email-validator==1.1.1
SQLAlchemy==1.2.8
Flask-SQLAlchemy==2.3.2
Alembic==0.9.9
Flask-Migrate==2.1.1
Flask-Mail==0.9.1
SendGrid-Python==0.1.1
python-dotenv==0.14.0
Bootstrap-Flask==1.1.0
Flask-Moment==0.6.0
Faker==0.8.13
Flask-DebugToolbar==0.10.1
